<!-- Page Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form-signin">
                <h2 class="form-signin-heading">Add Invoices</h2>
                <label for="client_name" class="sr-only">clientName</label>
                <input type="text" id="client_name" class="form-control" formControlName="client_name" placeholder="ClientName"
                  required autofocus>
                <label for="client_email" class="sr-only">Client Email</label>
                <input type="email" id="inputEmail" class="form-control" formControlName="client_email" placeholder="Email"
                  required autofocus>   
                <label for="project" class="sr-only">Project</label>
                <input type="text" id="project" class="form-control" formControlName="project_name"
                  placeholder="Project Name" required>
                <label for="amount" class="sr-only">Amount</label>
                <input type="number" id="amount" class="form-control" formControlName="amount"
                  placeholder="Amount" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  