<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center" style="padding-top: 20px;">
      <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
        <div class="row">
          <div class="col-12" style="text-align: center;">
            <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" class="form-signin">
              <h2 class="form-signin-heading">Sign Up</h2>
              <label for="inputusername" class="sr-only">Username</label>
              <input type="text" id="inputusername" class="form-control" formControlName="username" placeholder="Username"
                required autofocus>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email"
                required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" formControlName="password1"
                placeholder="Password" required>
              <label for="reinputPassword" class="sr-only">Reenter Password</label>
              <input type="password" id="reinputPassword" class="form-control" formControlName="password2"
                placeholder="Reenter Password" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
