
<h2 class="form-signin-heading">Invoices</h2>
<br>
<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id:</th>
        <th scope="col">InvoiceNo:</th>
        <th scope="col">Client Name</th>
        <th scope="col">Client Email</th>
        <th scope="col">Project Name</th>
        <th scope="col">Payment Link</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoices">
        <td>{{item.id}}</td>
        <th scope="row">{{item.invoice_number}}</th>
        <td>{{item.client_name}}</td>
        <td>{{item.client_email}}</td>
        <td>{{item.project_name}}</td>
        <td>{{item.link}}</td>
        <td>{{item.created_at}}</td>
        <td><span *ngIf="item.status == true; then thenBlock else elseBlock"></span><ng-template #thenBlock>Active</ng-template><ng-template #elseBlock>Inactive</ng-template> </td>
      </tr>
    </tbody>
  </table>